.Header {
  /*width: 50%;
  padding-left: 5vw;*/
}

.Header-spacer {
  font-weight: 300;
}

.Header-spacer:nth-of-type(2) {
  margin-right: 1.25vw;
  margin-left: 1.25vw;
  padding-right: 1.25vw;
  padding-left: 1.25vw;
  animation: .5s ease-in fadeIn 2s forwards;
}

.Header-title:nth-child(1) {
  margin-top: -100vh;
  margin-bottom: -1vw;
  animation: .5s ease-in slideDown .25s forwards;
}

.Header-title:nth-child(2) {
  margin-left: -70vw;
  animation: .5s ease-in slideRight .75s forwards;
}

.Header-spacer {
  opacity: 0;
  animation: .5s ease-in fadeIn 2s forwards;
}

.Header-spacer:nth-child(1) {
  animation-delay: 2.25s;
}

.Header-spacer:nth-child(2) {
  animation-delay: 2.5s;
}

.Header-spacer:nth-child(3) {
  animation-delay: 2.75s;
}

.Header-subtitle {
  margin-left: -70vw;
  animation: .75s ease-in slideRight 1.25s forwards;
}

@keyframes slideUp {
  to {
    margin-bottom: 0;
  }
}

@keyframes slideDown {
  to {
    margin-top: 0;
  }
}

@keyframes slideRight {
  to {
    margin-left: 0;
  }
}

@keyframes slideLeft {
  to {
    margin-right: 0;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes addBorders {
  to {
    border-right: 1px solid black;
    border-left: 1px solid black;
  }
}