.grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.panel--left {
  width: 50%;
  padding-left: 5vw;
}

.panel--right {
  text-align: right;
  display: inline-block;
  height: 100%;
  background-color: rgb(253, 237, 234);
  width: 50%;
  padding-right: 5vw;
}

.panel-content {
  text-align: left;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
