.ProjectList {
  text-align: right;
  display: inline-block;
  height: 100%;
  background-color: rgb(253, 237, 234);
  width: 50%;
  padding-right: 5vw;
}

.ProjectList-Content {
  text-align: left;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.ProjectList-List {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 5vw;
  padding-right: 5vw;
}

.ProjectList-Item {
  width: 44%;
  margin-bottom: 0vw;
  opacity: 0;
  animation: .222s linear appear forwards;
}

.ProjectList-Item:nth-child(odd) {
  margin-left: 2vw;
}

.ProjectList-Item:nth-child(even) {
  margin-right: 2vw;
}

.ProjectList-Item:nth-child(1) {
  animation-delay: 0s;
}

.ProjectList-Item:nth-child(2) {
  animation-delay: .25s;
}

.ProjectList-Item:nth-child(3) {
  animation-delay: .5s;
}

.ProjectList-Item:nth-child(4) {
  animation-delay: .75s;
}

.ProjectList-Item:nth-child(5) {
  animation-delay: 1s;
}

.ProjectList-Item:nth-child(6) {
  animation-delay: 1.25s;
}

.ProjectList-Img {
  max-width: 100%;
  transform: scale(.95);
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
